---
import Social from "./Social.astro";
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <p>
    ¡Más información sobre mis proyectos en
    <Social platform="x" username="johncaa" />!
    <Social platform="instagram" username="johncaa" />!
    <Social platform="github" username="johncaa00" />!
  </p>
</footer>
